@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  @apply bg-gray-50;
}
@keyframes bounceIn {
  0% { transform: translate(-50%, -20px); opacity: 0; }
  50% { transform: translate(-50%, 5px); opacity: 1; }
  100% { transform: translate(-50%, 0); }
}
.animate-bounceIn { animation: bounceIn 0.5s ease-out forwards; }



